#settingsButton {
  width: 25px;
  height: 25px;

  position: absolute;
  top: 5px;
  right: 5px;

  background-color: black;
  background-image: url("assets/settings.png");
  background-size: contain;

  border: none;
  border-radius: 3px;
}
#settingsButton:hover {
  background-color: #eee;
  background-image: url("assets/settings2.png");
}

div[identifier="settings"] {
  min-height: 180px;
}

div[identifier="settings"] input[type="range"] {
  max-width: 260px;
  margin: 0;
}
